.videoItem {
  cursor: pointer;
}

#ultramain {
  padding-bottom: 50px !important;
}

.ui.labeled.icon.button,
.ui.labeled.icon.buttons .button {
  z-index: 1000 !important;
}

[class*="left floated"] {
  float: left;
  margin-left: 0.25em;
}

[class*="right floated"] {
  float: right;
  margin-right: 0.25em;
}
.clearfix {
  display: table;
  clear: both;
}

.playlist-tile {
  display: flex !important;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 21px !important;
  font-size: 16px !important;
}

.playlist-tile i {
  color: lightcoral;
  font-size: 21px !important;
}

input {
  border-radius: 0px !important;
  height: 38px !important;
}

.input + button {
  border-radius: 0px !important;
  height: 38px !important;
  transform: translateY(-1px);
}

html {
  min-height: 100vh;
}

body,
#ultramain,
#root,
.container {
  min-height: 100% !important;
}

.flex-center {
  height: 100%;
  display: flex;
  align-items: center;
}
